# Unity3D .gitignore file.
# Store this file at the root of your local repository.
.DS_Store
Game Jam 2015/Library/AssetImportState
Game Jam 2015Library/AssetServerCacheV3
Game Jam 2015Library/FailedAssetImports.txt
Game Jam 2015Library/ScriptAssemblies
Game Jam 2015Library/ScriptMapper
Game Jam 2015Library/assetDatabase3
Game Jam 2015Library/cache
Game Jam 2015Library/expandedItems
Game Jam 2015Library/metadata
Game Jam 2015Library/previews
Game Jam 2015Library/guidmapper
Game Jam 2015Temp
*.csproj
*.pidb
*.sln